[submodule "倉頡 Project 合集/Cangjie5"]
	path = 倉頡 Project 合集/Cangjie5
	url = https://github.com/Jackchows/Cangjie5.git
[submodule "倉頡 Project 合集/Cangjie_DIY"]
	path = 倉頡 Project 合集/Cangjie_DIY
	url = https://github.com/Jackchows/Cangjie_DIY.git
[submodule "倉頡 Project 合集/Cangjie3-Plus"]
	path = 倉頡 Project 合集/Cangjie3-Plus
	url = https://github.com/Arthurmcarthur/Cangjie3-Plus.git
